body {
  font-family: roboto;
  margin: 2em;
  color: #3d3d3d;
  --mdc-theme-primary: #007f8b;
  --mdc-theme-on-primary: #f1f3f4;
}

h1 {
  color: #007f8b;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.mdc-button.mdc-button--raised.removed {
  display: none;
}

.notReadyMask {
  opacity: 0.2;
}

.readyUnMask {
  opacity: 1;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #00000046;
  color: #49ff1b;
  border: 1px dashed #49ff1b;
  border-radius: 8px 8px 0px 0px; 
  z-index: 2;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

.videoView p {
  position: absolute;
  background-color: #00000046;
  color: #49ff1b;
  border: 1px dashed #49ff1b;
  border-radius: 8px 8px 0px 0px; 
  z-index: 2;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

.highlighter {
  /*background: rgba(101, 218, 101, 0.315);*/
  border: 1px dashed #49ff1b;
  border-radius: 8px; 
  z-index: 1;
  position: absolute;
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 50%;
}

.drop-zone {
  height: 250px;
  width: 100%;
  border: 1px dashed #ccc;
  background-color: #908899;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block; /* For label positioning */
}

.drop-zone.dragging {
  background-color: #f0f0f0;
  border-color: #aaa;
}

.upload-label-inside {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-label-outside {
  display: block;
  margin-top: 10px;
}

.uploaded-image {
  margin-left: 0px;
}
