body {
  font-family: roboto;
  margin: 2em;
  color: #3d3d3d;
}

h1 {
  color: #15318b;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

.slider-container {
  display: flex;
  align-items: center;
}

#slider {
  width: 200px;
  height: 10px;
}

#slider-value {
  width: 50px;
  height: 20px;
  margin-left: 10px;
  text-align: center;
}

.display-mode-toggle {
  /* Dimensions */
  padding: 12px 24px;
  border-radius: 8px;
  width: fit-content;

  /* Colors */
  background-color: #4CAF50; /* Green */
  color: #ffffff;
  border: none;

  /* Typography */
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  /* Effects */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;

  /* Hover State */
  cursor: pointer;
}

.display-mode-toggle:hover {
  background-color: #3e8e41; /* Darker green */
}

.display-mode-toggle:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.imageView {
  position: relative;
  float: left;
  width: 98%;
  margin: 2% 1%;
  cursor: pointer;
  z-index: 0;
}

.imageView img {
  height: 50vh;
  width: auto;
}

.videoView {
  position: relative;
  float: left;
  width: 98%;
  margin: 2% 1%;
  cursor: pointer;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.overlay-text {
  position: absolute;
  padding: 5px;
  background-color: #0000005e;
  color: #49ff1b;
  /*border: 1px dashed #49ff1b;*/
  border-radius: 8px 8px 0px 0px; 
  z-index: 2;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 2px;
  text-transform: capitalize;
}

.overlay-box {
  border: 2px dashed;
  border-radius: 8px; 
  z-index: 1;
  position: absolute;
}

.drop-zone {
  height: 25vh;
  width: 75vw;  /* match this with the width defined in handleClearImageButtonClick() */
  border: 1px dashed #ccc;
  /*background-color: #908899;*/
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block; /* For label positioning */
}

.drop-zone.dragging {
  background-color: #f0f0f0;
  border-color: #aaa;
}

.upload-label-inside {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}

.upload-label-outside {
  display: block;
  margin: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
}

#clear-image-button {
  /* Dimensions */
  padding: 12px 24px;
  border-radius: 8px;
  width: fit-content;
  margin-right: 20px;

  /* Colors */
  background-color: #ce3631; /* Green */
  color: #ffffff;
  border: none;

  /* Typography */
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  /* Effects */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;

  /* Hover State */
  cursor: pointer;
}

#clear-image-button:hover {
  background-color: #8f261e; /* Darker green */
}

#clear-image-button:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.show-labels-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-button {
  /* Dimensions */
  padding: 12px 24px;
  border-radius: 8px;
  width: fit-content;

  /* Colors */
  background-color: #4e73ee; /* Green */
  color: #ffffff;
  border: none;

  /* Typography */
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  /* Effects */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;

  /* Hover State */
  cursor: pointer;
}

.show-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 310px;    /* need to use relative offset from show button */
  z-index: 1;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  overflow-y: auto;
  max-height: 300px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.show-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.show-dropdown li {
  padding: 5px;
}

.show-dropdown li:nth-of-type(1) {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.show-dropdown input[type="checkbox"] {
  margin-right: 10px;
}